@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.two__player__gameboard {
    padding: .25rem;
    @include tablet {
        padding: 1rem 2.5rem;
    }
    @include desktop {
        padding: 1rem 7rem;
    }

    &__board {
        border: 1px solid $background-color;
        padding: .5rem;
        box-shadow: 0px 0px 5px 2px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: .75rem;
        width: 280px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        @include tablet {
            width: 656px;
            height: 656px;
        }
        @include desktop {
            width: 1024px;
            height: 1024px;
        }
    }

    &__restart__link {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        :hover {
            cursor: pointer;
            color: $text-color-secondary;
            background-color: #1d1d1d;
        }
    }
    
    &__restart__btn {
        color: $text-color-primary;
        font-size: 36px;
        padding: .25rem;
        border-radius: 5px;
        border: 3px solid $background-color;
        width: 50%;
        @include tablet {
            font-size: 46px;
        }
        @include desktop {
            font-size: 60px;
        }
    }

    &__pop__up {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 36px;
        margin-left: 3rem;
        margin-right: 3rem;
        border: 1px solid $background-color;
        padding: 1rem;
        box-shadow: 0px 0px 5px 2px;
        position: relative;
        top: -400px;
        @include tablet {
            top: -500px;
            font-size: 46px;
        }
        @include desktop {
            top: -550px;
            font-size: 60px;
        }
    }

    &__winner__name {
        font-size: 36px;
        @include tablet {
            font-size: 46px;
        }
        @include desktop {
            font-size: 60px;
        }
    }

    &__home__link {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        text-decoration: none;
        :hover {
            cursor: pointer;
            color: $text-color-secondary;
            background-color: #1d1d1d;
        }
    }
    
    &__home__btn {
        color: $text-color-primary;
        font-size: 36px;
        padding: .25rem;
        border-radius: 5px;
        border: 3px solid $background-color;
        width: 50%;
        @include tablet {
            font-size: 46px;
        }
        @include desktop {
            font-size: 60px;
        }
    }
}