@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.scoreboard {
    margin: 1rem 0rem;
    color: $text-color-primary;

    &__players {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        padding: .5rem 1rem;
        align-items: center;
        border: 1px solid $background-color;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 2px;
        @include mobile-tablet {
            font-size: 26px;
        }
        @include tablet {
            font-size: 30px;
        }
        @include tablet-desktop {
            font-size: 36px;
        }
        @include desktop {
            font-size: 42px;
        }        
        }
}