@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.card {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    &__face {
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        &__back {
            transform: rotateY(180deg);
        }
    }

    &__is__flipped {
        transform: rotateY(180deg);
    }

    &__is__inactive {
        opacity: 0;
    }
}
