@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.select__mode {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 100vh;

    &__categories {
        color: $text-color-primary;
        font-size: 20px; 
    }

    &__dropdown {
        color: $text-color-primary;
        font-size: 26px; 
    }
    
    &__title {
        color: $text-color-primary;
        font-size: 20px; 
        @include mobile-tablet {
            font-size: 26px;
        }
        @include tablet {
            font-size: 30px;
        }
        @include tablet-desktop {
            font-size: 36px;
        }
        @include desktop {
            font-size: 42px;
        }       
    }
    
    &__link {
        text-align: center;
        width: 50%;
        :hover {
            cursor: pointer;
            color: $text-color-secondary;
            background-color: #1d1d1d;
        }
    }
    
    &__btn {
        color: $text-color-primary;
        font-size: 26px;
        padding: .25rem;
        border-radius: 5px;
        border: 3px solid $background-color;
        width: 100%;
        @include mobile-tablet {
            font-size: 32px;
        }
        @include tablet {
            font-size: 36px;
        }
        @include tablet-desktop {
            font-size: 42px;
        }
        @include desktop {
            font-size: 48px;
        }
    }
}