@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.single__player__gameboard {
    padding: .5rem;
    @include mobile-tablet {
        padding: 1rem;
    }
    @include tablet {
        padding: 1rem 2.5rem;
    }
    @include tablet-desktop {
        padding: 1rem 4rem;
    }
    @include desktop {
        padding: 1rem 7rem;
    }


    &__section {
        border: 1px solid $background-color;
        padding: 1rem;
        box-shadow: 0px 0px 5px 2px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3 1fr);
        justify-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
    }

    &__restart__link {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        :hover {
            cursor: pointer;
            color: $text-color-secondary;
            background-color: #1d1d1d;
        }
    }
    
    &__restart__btn {
        color: $text-color-primary;
        font-size: 26px;
        padding: .25rem;
        border-radius: 5px;
        border: 3px solid $background-color;
        width: 50%;
        @include mobile-tablet {
            font-size: 32px;
        }
        @include tablet {
            font-size: 36px;
        }
        @include tablet-desktop {
            font-size: 42px;
        }
        @include desktop {
            font-size: 48px;
        }
    }

    &__pop__up {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        margin-left: 3rem;
        margin-right: 3rem;
        border: 1px solid $background-color;
        padding: 1rem;
        box-shadow: 0px 0px 5px 2px;
        position: relative;
        top: -328px;
    }

    &__home__link {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        text-decoration: none;
        :hover {
            cursor: pointer;
            color: $text-color-secondary;
            background-color: #1d1d1d;
        }
    }
    
    &__home__btn {
        color: $text-color-primary;
        font-size: 26px;
        padding: .25rem;
        border-radius: 5px;
        border: 3px solid $background-color;
        width: 50%;
        @include mobile-tablet {
            font-size: 32px;
        }
        @include tablet {
            font-size: 36px;
        }
        @include tablet-desktop {
            font-size: 42px;
        }
        @include desktop {
            font-size: 48px;
        }
    }
}