@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.two__player {
    color: $text-color-primary;
    
    &__enter__name {
        font-size: 20px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        height: 100vh;
        @include mobile-tablet {
            font-size: 26px;
        }
        @include tablet {
            font-size: 30px;
        }
        @include tablet-desktop {
            font-size: 36px;
        }
        @include desktop {
            font-size: 42px;
        }        
    }

    &__label {
        color: $text-color-primary;
        font-size: 20px; 
        @include mobile-tablet {
            font-size: 26px;
        }
        @include tablet {
            font-size: 30px;
        }
        @include tablet-desktop {
            font-size: 36px;
        }
        @include desktop {
            font-size: 42px;
        }       
    }

    &__input {
        font-size: 16px;
        padding: 7px;
        border-radius: 5px;   
        background-color: white;    
        border:2px solid gray;
        width: 75%;
        margin-bottom: 1rem;
        @include mobile-tablet {
            font-size: 22px;
        }
        @include tablet {
            font-size: 26px;
        }
        @include tablet-desktop {
            font-size: 32px;
        }
        @include desktop {
            font-size: 38px;
        }
    }
    
    &__start__link {
        text-align: center;
        width: 50%;
        :hover {
            cursor: pointer;
            color: $text-color-secondary;
            background-color: #1d1d1d;
        }
    }
    
    &__start__btn {
        color: $text-color-primary;
        font-size: 26px;
        padding: .25rem;
        border-radius: 5px;
        border: 3px solid $background-color;
        width: 100%;
        @include mobile-tablet {
            font-size: 32px;
        }
        @include tablet {
            font-size: 36px;
        }
        @include tablet-desktop {
            font-size: 42px;
        }
        @include desktop {
            font-size: 48px;
        }
    }
}